<section class="periodic">
  <div class="row">
    <div class="periodic-cell">
      H
    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">
      He
    </div>
  </div>
  <div class="row">
    <div class="periodic-cell">
      Li
    </div>
    <div class="periodic-cell">
      Be
    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">
      B
    </div>
    <div class="periodic-cell">
      C
    </div>
    <div class="periodic-cell">
      N
    </div>
    <div class="periodic-cell">
      O
    </div>
    <div class="periodic-cell">
      F
    </div>
    <div class="periodic-cell">
      Ne
    </div>
  </div>
  <div class="row">
    <div class="periodic-cell">
      Na
    </div>
    <div class="periodic-cell">
      Mg
    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">
      Al
    </div>
    <div class="periodic-cell">
      Si
    </div>
    <div class="periodic-cell">
      P
    </div>
    <div class="periodic-cell">
      S
    </div>
    <div class="periodic-cell">
      Cl
    </div>
    <div class="periodic-cell">
      Ar
    </div>
    <div class="periodic-cell">

    </div>
  </div>
  <div class="row">
    <div class="periodic-cell">
      K
    </div>
    <div class="periodic-cell">
      Ca
    </div>
    <div class="periodic-cell">
      Sc
    </div>
    <div class="periodic-cell">
      Ti
    </div>
    <div class="periodic-cell">
      V
    </div>
    <div class="periodic-cell">
      Cr
    </div>
    <div class="periodic-cell">
      Mn
    </div>
    <div class="periodic-cell">
      Fe
    </div>
    <div class="periodic-cell">
      Co
    </div>
    <div class="periodic-cell">
      Ni
    </div>
    <div class="periodic-cell">
      Cu
    </div>
    <div class="periodic-cell">
      Zn
    </div>
    <div class="periodic-cell">
      Ga
    </div>
    <div class="periodic-cell">
      Ge
    </div>
    <div class="periodic-cell">
      As
    </div>
    <div class="periodic-cell">
      Se
    </div>
    <div class="periodic-cell">
      Br
    </div>
    <div class="periodic-cell">
      Kr
    </div>
  </div>
  <div class="row">
    <div class="periodic-cell">
      Rb
    </div>
    <div class="periodic-cell">
      Sr
    </div>
    <div class="periodic-cell">
      Y
    </div>
    <div class="periodic-cell">
      Zr
    </div>
    <div class="periodic-cell">
      Nb
    </div>
    <div class="periodic-cell">
      Mo
    </div>
    <div class="periodic-cell">
      Tc
    </div>
    <div class="periodic-cell">
      Ru
    </div>
    <div class="periodic-cell">
      Rh
    </div>
    <div class="periodic-cell">
      Pd
    </div>
    <div class="periodic-cell">
      Ag
    </div>
    <div class="periodic-cell">
      Cd
    </div>
    <div class="periodic-cell">
      In
    </div>
    <div class="periodic-cell">
      Sn
    </div>
    <div class="periodic-cell">
      Sb
    </div>
    <div class="periodic-cell">
      Te
    </div>
    <div class="periodic-cell">
      I
    </div>
    <div class="periodic-cell">
      Xe
    </div>
  </div>
  <div class="row">
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
  </div>
  <div class="row">
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
  </div>
</section>
