<section class="periodic">
  <div class="row">
    <div class="periodic-cell borders" ng-style="style1">
      <input type="text" ng-model="element1">
    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">
      
    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell borders">
      He
    </div>
  </div>
  <div class="row">
    <div class="periodic-cell borders">
      Li
    </div>
    <div class="periodic-cell borders">
      Be
    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell borders">
      B
    </div>
    <div class="periodic-cell borders">
      C
    </div>
    <div class="periodic-cell borders">
      N
    </div>
    <div class="periodic-cell borders">
      O
    </div>
    <div class="periodic-cell borders">
      F
    </div>
    <div class="periodic-cell borders">
      Ne
    </div>
  </div>
  <div class="row">
    <div class="periodic-cell borders">
      Na
    </div>
    <div class="periodic-cell borders">
      Mg
    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell borders">
      Al
    </div>
    <div class="periodic-cell borders">
      Si
    </div>
    <div class="periodic-cell borders">
      P
    </div>
    <div class="periodic-cell borders">
      S
    </div>
    <div class="periodic-cell borders">
      Cl
    </div>
    <div class="periodic-cell borders">
      Ar
    </div>
  </div>
  <div class="row">
    <div class="periodic-cell borders">
      K
    </div>
    <div class="periodic-cell borders">
      Ca
    </div>
    <div class="periodic-cell borders">
      Sc
    </div>
    <div class="periodic-cell borders">
      Ti
    </div>
    <div class="periodic-cell borders">
      V
    </div>
    <div class="periodic-cell borders">
      Cr
    </div>
    <div class="periodic-cell borders">
      Mn
    </div>
    <div class="periodic-cell borders">
      Fe
    </div>
    <div class="periodic-cell borders">
      Co
    </div>
    <div class="periodic-cell borders">
      Ni
    </div>
    <div class="periodic-cell borders">
      Cu
    </div>
    <div class="periodic-cell borders">
      Zn
    </div>
    <div class="periodic-cell borders">
      Ga
    </div>
    <div class="periodic-cell borders">
      Ge
    </div>
    <div class="periodic-cell borders">
      As
    </div>
    <div class="periodic-cell borders">
      Se
    </div>
    <div class="periodic-cell borders">
      Br
    </div>
    <div class="periodic-cell borders">
      Kr
    </div>
  </div>
  <div class="row">
    <div class="periodic-cell borders">
      Rb
    </div>
    <div class="periodic-cell borders">
      Sr
    </div>
    <div class="periodic-cell borders">
      Y
    </div>
    <div class="periodic-cell borders">
      Zr
    </div>
    <div class="periodic-cell borders">
      Nb
    </div>
    <div class="periodic-cell borders">
      Mo
    </div>
    <div class="periodic-cell borders">
      Tc
    </div>
    <div class="periodic-cell borders">
      Ru
    </div>
    <div class="periodic-cell borders">
      Rh
    </div>
    <div class="periodic-cell borders">
      Pd
    </div>
    <div class="periodic-cell borders">
      Ag
    </div>
    <div class="periodic-cell borders">
      Cd
    </div>
    <div class="periodic-cell borders">
      In
    </div>
    <div class="periodic-cell borders">
      Sn
    </div>
    <div class="periodic-cell borders">
      Sb
    </div>
    <div class="periodic-cell borders">
      Te
    </div>
    <div class="periodic-cell borders">
      I
    </div>
    <div class="periodic-cell borders">
      Xe
    </div>
  </div>
  <div class="row">
    <div class="periodic-cell borders">
      Cs
    </div>
    <div class="periodic-cell borders">
      Ba
    </div>
    <div class="periodic-cell borders">
      La
    </div>
    <div class="periodic-cell borders">
      Hf
    </div>
    <div class="periodic-cell borders">
      Ta
    </div>
    <div class="periodic-cell borders">
      W
    </div>
    <div class="periodic-cell borders">
      Re
    </div>
    <div class="periodic-cell borders">
      Os
    </div>
    <div class="periodic-cell borders">
      Ir
    </div>
    <div class="periodic-cell borders">
      Pt
    </div>
    <div class="periodic-cell borders">
      Au
    </div>
    <div class="periodic-cell borders">
      Hg
    </div>
    <div class="periodic-cell borders">
      Tl
    </div>
    <div class="periodic-cell borders">
      Pb
    </div>
    <div class="periodic-cell borders">
      Bi
    </div>
    <div class="periodic-cell borders">
      Po
    </div>
    <div class="periodic-cell borders">
      At
    </div>
    <div class="periodic-cell borders">
      Rn
    </div>
  </div>
  <div class="row">
    <div class="periodic-cell borders">
      Fr
    </div>
    <div class="periodic-cell borders">
      Ra
    </div>
    <div class="periodic-cell borders">
      Ac
    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
    <div class="periodic-cell">

    </div>
  </div>
</section>
