<!-- Link a button to a function -->
<div class="col-lg-6 col-sm-12">
  <h3>Calculator</h3>
  <button ng-click="add(1)" type="button" class="button">Add 1</button>
  <button ng-click="add(5)" type="button" class="button">Add 5</button>
  <button ng-click="substract(1)" type="button" class="button">Substract 1</button>
  <button ng-click="substract(5)" type="button" class="button">Substract 5</button>
  <p>Count: {{number}}</p>
  <br></br>

  <!-- Combine different variables -->
  <h5>Or make your own operation</h5>
  <input ng-model="first_op" type="number" >
  <select ng-model="operation">
    <option value="+">plus</option>
    <option value="-">minus</option>
    <option value="*">times</option>
    <option value="/">divided by</option>
  </select>
  <input ng-model="second_op" type="number" >
  <button type="button" ng-click="operate(first_op, operation, second_op)">Go!</button>
  <p>{{first_op}} {{operation}} {{second_op}} = {{result}}</p>
</div>
