<!-- Show and hide elements -->
<div ng-controller="filter-people" class="col-lg-6 col-sm-12">
  <h3>Filter people</h3>

  <button type="button" ng-click="setGender('male')">Male</button>
  <button type="button" ng-click="setGender('female')">Female</button>
  <button type="button" ng-click="setGender('all')">All</button>
  <br></br>

  <div class="col-sm-3 borders" ng-show="male">
    <p>Name: Larry</p>
    <p>Age: 12</p>
  </div>

  <div class="col-sm-3 borders" ng-show="female">
    <p>Name: Melinda</p>
    <p>Age: 25</p>
  </div>

  <div class="col-sm-3 borders" ng-show="male">
    <p>Name: Fred</p>
    <p>Age: 34</p>
  </div>

  <div class="col-sm-3 borders" ng-show="female">
    <p>Name: Hannah</p>
    <p>Age: 62</p>
  </div>

  <!-- Filter with repeat (still not working) -->
  <h3>Filter people</h3>

  <button type="button" ng-click="setGender2('male')">Male</button>
  <button type="button" ng-click="setGender2('female')">Female</button>
  <button type="button" ng-click="setGender2('all')">All</button>


  <div ng-repeat="(name, data) in people">
    <div class="col-sm-3 borders" ng-show="true">
      <p>Name: {{name}}</p>
      <p>Age: {{data.age}}</p>
    </div>
  </div>

</div>
